<!DOCTYPE html>
<html>

<head>
    <title>シミュレーション画面</title>
    <link rel="stylesheet" href="/static/readme.css">
</head>

<body>
    <div class="title">
        <h1>BazzWordシミュレータへようこそ！</h1>
    </div>
    <div class="explain">
        <p>MESAを用いた流行語拡散に対するマルチエージェントシステムです。<br>
            流行語の認知度遷移図をリアルタイムに確認することができます。<br>
            流行語はエージェントの衝突によって伝達されるものと仮定しています。
        </p>
    </div>
    <div class="agent-explain-flex">
        <div class="agent-explain">
            <h2>各エージェントの説明</h2>
            <h3>一般人</h3>
            <p>特になんの特徴もないエージェントです。<br>
                衝突により、相手の記憶している全ての流行語を記憶します。</p>
            <h3>固執型</h3>
            <p>一度覚えた流行語のみを記憶し続けるエージェントです。<br>
                1回目で衝突した相手の単語のみが記憶され、以降その記憶は変化しません。</p>
            <h3>忘却型</h3>
            <p>忘れっぽいエージェントです。<br>
                一度記憶した単語でもx秒後に忘れてしまいます。</p>
            <h3>逆張り型</h3>
            <p>筑波大生の特徴を捉えたエージェントです。<br>
                1回目で衝突した相手の記憶している単語の中で最も全体の認知度が低い単語を記憶します。</p>
            <h3>大衆迎合型</h3>
            <p>日本人の特徴を捉えたエージェントです。<br>
                1回目で衝突した相手の記憶している単語の中で最も全体の認知度が高い単語を記憶します。</p>

            <button onclick="location.href='/'">戻る</button>
        </div>
</body>

</html>